<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roku FlashBack</title>
    <link rel="stylesheet" href="../public/css/master.css">
    <link rel="stylesheet" href="../public/css/reset.css">
</head>

<body id="app" class="app list-wrapper">
    <header id="mainHeader" class="main-header">
        <div class="inner">
            <div class="logo"><img src="../public/images/logo.png"></div>
            <div class="user">
                <!---->
                <div class="user-icon"><img src="../public/images/user_icon.png"></div>
            </div>
        </div>
    </header>
    <div class="detail-page-wrap">
        <div class="detail-content-wrap">
          <div class="banner-box">
            <img src="../public/images/list_banner.jpg" />
          </div>

          <div class="movie-info">
            <div class="title">
              <h3>Guardians of the Galaxy Vol. 2</h3>
            </div> 
            <div class="genre">
              <h4>Adventure</h4>
              <h4 class="score">4.5</h4>
            </div>
            <div class="desc">
              <h4>Description</h4>
              <div>
                The Guardians must fight to keep their newfound family together as they unravel the mystery of Peter Quill&rsquo;s true parentage.
              </div>
            </div>
          </div>
          <div class="comment-title"><h4>Comments</h4></div>
          <div class="movice-comment">
              <div class="comment-item">
                  <div class="avatar">
                    <img src="../public/images/svg/bird.svg"/>
                  </div>
                  <div class="comment-content">
                    <div class="name"><h4>User 1</h4></div>
                    <div class="content">
                      hahahhahahahhahahahhahahahhahahahhahahahhahahahhahahahhahahahhahahahha
                    </div>
                    <div class="time">
                      2020-02-02 00:00:00
                    </div>
                  </div>
              </div>
              <div class="comment-item">
                  <div class="avatar">
                    <img src="../public/images/svg/bird.svg"/>
                  </div>
                  <div class="comment-content">
                    <div class="name"><h4>User 1</h4></div>
                    <div class="content">
                      hahahhahahahhahahahhahahahhahahahhahahahhahahahhahahahhahahahhahahahha
                    </div>
                    <div class="time">
                      2020-02-02 00:00:00
                    </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <footer id="mainFooter" class="main-footer">
        <ul class="foot-nav">
            <li>FQA</li>
            <li>Help Center</li>
            <li>TV Show</li>
            <li>Follow Us</li>
            <li>Cookie Preferences</li>
            <li> Corporate Information</li>
            <li> Privacy</li>
        </ul>
        <div class="foot-copyright">
            copyright Roku 2020
        </div>
    </footer>
</body>

</html>