<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roku FlashBack</title>

    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/master.css">
</head>

<body id="app" class="app list-wrapper">
    <header id="mainHeader" class="main-header">
        <div class="inner">
            <div class="logo"><img src="images/logo.png"></div>
            <div class="user">
                <!---->
                <div class="user-icon"><img src="images/user_icon.png"></div>
            </div>
        </div>
    </header>
    <div class="list-page-wrap kids-page-wrap">
        <div class="banner-box"><img src="images/kids_banner.jpg" /></div>
        <ul class="kids-icon-box">
            <li class="icon-item">
                <div class="icon-pic"><img src="images/kids_pic1.png"></div>
            </li>
            <li class="icon-item">
                <div class="icon-pic"><img src="images/kids_pic2.png"></div>
            </li>
            <li class="icon-item">
                <div class="icon-pic"><img src="images/kids_pic3.png"></div>
            </li>
        </ul>
        <dl class="video-list video-list-keep">
            <dt class="v-l-title">Keep Watching</dt>
            <dd class="v-l-body">
                <ul class="v-list">
                    <li class="l-item">
                        <div class="item-pic"><img src="images/cartoon1.jpg"></div>
                        <div class="item-look"><span style="width: 20%;"></span></div>
                    </li>
                    <li class="l-item">
                        <div class="item-pic"><img src="images/cartoon3.jpg"></div>
                        <div class="item-look"><span style="width: 10%;"></span></div>
                    </li>
                    <li class="l-item">
                        <div class="item-pic"><img src="images/cartoon4.png"></div>
                        <div class="item-look"><span style="width: 70%;"></span></div>
                    </li>
                    <li class="l-item">
                        <div class="item-pic"><img src="images/cartoon5.jpeg"></div>
                        <div class="item-look"><span style="width: 40%;"></span></div>
                    </li>
                    <li class="l-item">
                        <div class="item-pic"><img src="images/cartoon1.jpg"></div>
                        <div class="item-look"><span style="width: 25%;"></span></div>
                    </li>
                    <li class="l-item">
                        <div class="item-pic"><img src="images/cartoon5.jpg"></div>
                        <div class="item-look"><span style="width: 80%;"></span></div>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl class="video-list video-list-now">
            <dt class="v-l-title">Trending Now</dt>
            <dd class="v-l-body">
                <ul class="v-list">
                    <li class="l-item">
                        <div class="item-pic"><img src="images/cartoon1.jpg"></div>
                    </li>
                    <li class="l-item">
                        <div class="item-pic"><img src="images/cartoon3.jpg"></div>
                    </li>
                    <li class="l-item">
                        <div class="item-pic"><img src="images/cartoon4.png"></div>
                    </li>
                    <li class="l-item">
                        <div class="item-pic"><img src="images/cartoon5.jpeg"></div>
                    </li>
                    <li class="l-item">
                        <div class="item-pic"><img src="images/cartoon1.jpg"></div>
                    </li>
                    <li class="l-item">
                        <div class="item-pic"><img src="images/cartoon5.jpg"></div>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl class="video-list video-list-rec">
            <dt class="v-l-title">Recommend</dt>
            <dd class="v-l-body">
                <ul class="v-list">
                    <li class="l-item">
                        <div class="item-pic"><img src="images/cartoon1.jpg"></div>
                    </li>
                    <li class="l-item">
                        <div class="item-pic"><img src="images/cartoon3.jpg"></div>
                    </li>
                    <li class="l-item">
                        <div class="item-pic"><img src="images/cartoon4.png"></div>
                    </li>
                    <li class="l-item">
                        <div class="item-pic"><img src="images/cartoon5.jpeg"></div>
                    </li>
                    <li class="l-item">
                        <div class="item-pic"><img src="images/cartoon1.jpg"></div>
                    </li>
                    <li class="l-item">
                        <div class="item-pic"><img src="images/cartoon5.jpg"></div>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
    <footer id="mainFooter" class="main-footer">
        <ul class="foot-nav">
            <li>FQA</li>
            <li>Help Center</li>
            <li>TV Show</li>
            <li>Follow Us</li>
            <li>Cookie Preferences</li>
            <li> Corporate Information</li>
            <li> Privacy</li>
        </ul>
        <div class="foot-copyright">
            copyright Roku 2020
        </div>
    </footer>
</body>

</html>