.main-footer{
    height: 173px;
    background:url(/images/foot_bg.png);
    background-size: 100%;
    position: relative;
    .foot-nav{
        display: flex;
        padding-top: 30px;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        li{
            width: 25%;
            color:#fff;
            cursor: pointer;
            flex-shrink: 0;
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
    .foot-copyright{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        font-size: 18px;
        color:#fff;
        text-align: center;
    }
}


