.app{
    background-color: $bgColor;
    color:#fff;
}
a{
    color:#fff;
    text-decoration: none;
}
.inner{
    width: 1200px;
    margin: 0 auto;
}
.main-header{
    background-color: $bgColor;
    .inner{
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        height: 100%;
        img{
            height: 100%;
        }
    }
    .user{
        display: flex;
        align-items: center;
        margin-right: 70px;
    }
    .kids-btn{
        width: 93px;
        height: 40px;
        background-color: #fff;
        border-radius: 20px;
        font-size: 16px;
        color: #220085;
        border:none;
    }
    .user-icon{
        width: 70px;
        height: 70px;
        overflow: hidden;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

